{% extends "base.html" %}

<!-- put the about content in the table_section block -->
{% block content_table %}
<div class="container mt-4">
    <h1>About BirrWatch</h1>
    <p>Welcome to BirrWatch, your comprehensive platform for tracking
            up-to-date exchange rates in Ethiopia. With recent changes in
            the country’s currency exchange market, each bank now sets 
            its own rates, which fluctuate constantly. BirrWatch aims to 
            bridge this gap by gathering and displaying these exchange
            rates in one easy-to-access place.</p>

    <h2>Project Background</h2>
    <p>As the Ethiopian Birr shifted to a floating,
            market-driven rate, currency exchange rates 
            now vary significantly across different banks.
            BirrWatch was designed to provide users with 
            an accurate, real-time overview of these rates, 
            making it easier to find the best options for 
            currency exchange.</p>

    <h2>Key Features</h2>
    <ul>
        <li>Display a complete table of exchange rates from 
            all applicable Ethiopian banks.</li>
        <li>Daily updates to ensure you have the latest
                currency rates without needing to check multiple sites.</li>
        <li>A graphing tool that lets you view historical
                rate changes for each currency or bank.</li>
    </ul>

    <h2>Future Enhancements</h2>
    <p>BirrWatch is continuously evolving to meet user needs.
            Planned features include a more comprehensive data collection 
            mechanism, enhanced graphing options,
            custom alerts for significant rate changes, and
            expanded information on each currency and bank.
            We aim to grow BirrWatch into the go-to platform
                for real-time financial insights in Ethiopia.</p>
</div>
{% endblock %}